<%# <form accept-charset="UTF-8" action="users_path" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token>
  <label for="username">User_name:</label>
  <input type="text" id="username" name="user[:username]"><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="passwword" name="password"><br><br>
  <input type="submit" value="Submit">
</form> %>

<%# <%= form_tag(url: "/new", method: "get") do %>
<%#  <%= label_tag(:username, 'Username:') %>
<%#  <%= text_field_tag(:username) %>
<%#  <%= label_tag(:email, 'Email:') %>
<%#  <%= email_field_tag(:email) %>
<%#  <%= label_tag(:password, 'Password:') %>
<%#  <%= password_field_tag(:email) %>
<%#  <%= submit_tag('Submit') %>
<%#<% end %>
<h1>Create User</h1>

<%= render "form" %>
